<header class="padding-vertical-xxl">
  <section class="container">
    <svg width="60" height="60" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z" />
      <circle cx="7.2" cy="14.4" r="3.2" />
      <circle cx="14.8" cy="18" r="2" />
      <circle cx="15.2" cy="8.8" r="4.8" /></svg>
    <h1 class="display-title display-title-xxl margin-top-s">The Irvine Bubble</h1>
    <p class="no-margin font-size-s"><strong>v1.14.2</strong> | Minecraft Survival</p>
    <p class="lead lead-s margin-vertical-m max-width-s">An invite-only, flavored-vanilla Minecraft server with a strong
      sense of community. We're going back to the roots of Minecraft.</p>

    <nav class="group group-s margin-top-m">
      <ul>
        <li>
          <a class="button button-primary button-border button-icon" href="/login">
            <span>Log In</span>
            <svg width="24" height="24" viewBox="0 0 24 24">
              <title>right</title>
              <path
                d="M18.92,12.38a1,1,0,0,0-.22-1.09l-6-6a1,1,0,0,0-1.41,1.41L15.59,11H6a1,1,0,0,0,0,2h9.59l-4.29,4.29a1,1,0,1,0,1.41,1.41l6-6A1,1,0,0,0,18.92,12.38Z">
              </path>
            </svg>

          </a>
        </li>
        <!-- <li>
          <a class="button button-border button-icon" href="/players">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none"
                d="M0 0v24h24V0H0zm23 16c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V8c0-1.1.9-2 2-2h18c1.1 0 2 .9 2 2v8z" />
              <path
                d="M21 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-10 7H8v3H6v-3H3v-2h3V8h2v3h3v2zm4.5 2c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4-3c-.83 0-1.5-.67-1.5-1.5S18.67 9 19.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z" />
            </svg>
            <span>Players</span>
          </a>
        </li> -->
      </ul>
    </nav>
  </section>
</header>